
.container {
    max-width: 960px;
    margin: 50px auto 0 auto;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
}

.td {
    width: 50px;
    height: 50px;

}

.black {
    background-color: #000;
}

.grey {
    background-color: #888;
}

.td_letter {
    text-transform: capitalize;
    text-align: center;
}

.numeral {
    width: 50px;
    height: 50px;
    text-align: center;
}

.td_letter {
    width: 50px;
    height: 50px;
}

.rotate {
    transform: rotate(180deg);
}

td {
    text-align: center;
}